*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.idea/
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.private.*
!*_sample
!*.sample.*
cdk.out/
*.snap.debug
.aws-sam
node_modules

# To locally run Lambda Functions we locally need to install a gradle wapper in the function module
stacks/**/gradlew*
stacks/**/gradle
*.bkp
*.dtmp
!/.idea/icon.svg
/.run.private/
